@page "/articles/{id}"
@using GiscusBlazor
@using VladislavAntonyuk.Components.Monetization
@inherits VladislavAntonyukBaseComponent

@if (article is null)
{
	if (error is null)
	{
		<MudText Typo="Typo.h1" Align="Align.Center">Loading</MudText>
		<MudProgressCircular Color="Color.Default" Indeterminate="true"/>
	}
	else
	{
		<Head Title="@urlCreator.DecodeArticleUrl(Id)"/>
		<Error ErrorText="@error.Message" ErrorTitle="Error" ErrorCode="@error.Code"/>
	}
}
else
{
	<Head Title="@article.Name" Description="@article.Description" Keywords="@article.Keywords" Image="@article.Image"/>

	<div class="article">
		@if (!string.IsNullOrWhiteSpace(article.Image))
		{
			<MudImage Src="@article.Image" Alt="@article.Name" Fluid="true"/>
		}
		<MudText Typo="Typo.h1">@article.Name</MudText>
		<MudStack Row="true" Justify="Justify.SpaceBetween">
			<MudText>
				<MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Size="Size.Small"/>
				@article.Created.ToString("dd MMMM yyyy")
			</MudText>
			<MudHidden Breakpoint="Breakpoint.Xs">
				<MudStack Row="true">
					@{
						var url = "{BASE_URL}/" + urlCreator.CreateArticleUrl("articles", article.Name);
					}
					<MudIconButton Href='@($"https://twitter.com/intent/tweet?text={url}#")'
					               Target="_blank"
					               Icon="@Icons.Custom.Brands.Twitter"
								   Title="Tweet"
					               Size="Size.Large"
								   aria-label="Twitter" />

					<MudIconButton Href='@($"https://www.facebook.com/sharer/sharer.php?u={url}#")' 
								   Target="_blank"
								   Icon="@Icons.Custom.Brands.Facebook"
					               Title="Facebook"
					               Size="Size.Large"
								   aria-label="Facebook" />

					<MudIconButton Href='@($"https://www.linkedin.com/cws/share?url={url}#")'
								   Target="_blank"
								   Icon="@Icons.Custom.Brands.LinkedIn"
					               Title="LinkedIn"
					               Size="Size.Large"
								   aria-label="LinkedIn" />
				</MudStack>
			</MudHidden>
			<MudText Align="Align.End">
				<MudIcon Icon="@Icons.Material.Filled.Tag" Size="Size.Small"/>
				@article.CategoryName
			</MudText>
		</MudStack>
		<MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
			<MudStack Row="true" Justify="Justify.Center">
				@{
					var url = urlCreator.CreateArticleUrl("articles", article.Name);
				}
				<MudIconButton Href='@($"https://twitter.com/intent/tweet?text={url}#")'
				               Target="_blank"
				               Icon="@Icons.Custom.Brands.Twitter" Title="Tweet"
				               Size="Size.Large"/>

				<MudIconButton Href='@($"https://www.facebook.com/sharer/sharer.php?u={url}#")' Target="_blank" Icon="@Icons.Custom.Brands.Facebook"
				               Title="Facebook"
				               Size="Size.Large"/>
				<MudIconButton Href='@($"https://www.linkedin.com/cws/share?url={url}#")' Target="_blank" Icon="@Icons.Custom.Brands.LinkedIn"
				               Title="LinkedIn"
				               Size="Size.Large"/>
			</MudStack>
		</MudHidden>
		<BuyMeACoffee/>
		<MudText Align="Align.Justify">
			<ArticleRenderer Content="@(article.Content ?? string.Empty)"></ArticleRenderer>
		</MudText>
		<BuyMeACoffee/>
	</div>
}

<Ads Slot="1656353485"/>

@if (suggestions?.Any() ?? false)
{
	<MudText Typo="Typo.h2">Related:</MudText>

	<MudGrid>
		@foreach (var suggestion in suggestions)
		{
			var url = urlCreator.CreateArticleUrl("articles", suggestion.Name);
			<MudItem sm="6">
				<MudCard Style="height: 100%">
					@if (!string.IsNullOrWhiteSpace(suggestion.Image))
					{
						<MudCardMedia Image="@suggestion.Image"
						              Style="background-size: contain"/>
					}
					<MudCardContent>
						<MudText Typo="Typo.h3">@suggestion.Name</MudText>
						<MudText>@suggestion.Description</MudText>
					</MudCardContent>
					<MudCardActions>
						<MudLink Href="@url">Read full article</MudLink>
					</MudCardActions>
				</MudCard>
			</MudItem>
		}
	</MudGrid>
}

@if (article is not null)
{
	<MudPaper Class="mt-4">
		<Giscus Repo="VladislavAntonyuk/vladislavantonyuk.github.io"
		        RepoId="R_kgDOImU4iA"
                Category="Announcements"
		        CategoryId="DIC_kwDOImU4iM4CYqI2"
		        Mapping="Mapping.Title"
		        ReactionsEnabled="true"
		        EmitMetadata="false"
		        InputPosition="InputPosition.Top"
		        Theme="preferred_color_scheme"
		        Lang="en"
		        Loading="Loading.Lazy" />
	</MudPaper>
}