@page "/articles/{id}"
@using GiscusBlazor
@using VladislavAntonyuk.Components.Monetization
@inherits VladislavAntonyukBaseComponent

@if (article is null)
{
	if (error is null)
	{
		<MudText Typo="Typo.h1" Align="Align.Center">Loading</MudText>
		<MudProgressCircular Color="Color.Default" Indeterminate="true"/>
	}
	else
	{
		<Head Title="@urlCreator.Decode(Id)"/>
		<Error ErrorText="@error.Message" ErrorTitle="Error" ErrorCode="@error.Code"/>
	}
}
else
{
	var url = urlCreator.Encode("articles", article.Name);
	<Head Title="@article.Name" Description="@article.Description" Keywords="@article.Keywords" Image="@article.Image"/>

	<div class="article">
		@if (!string.IsNullOrWhiteSpace(article.Image))
		{
			<MudImage Src="@article.Image" Alt="@article.Name" Fluid="true"/>
		}
		<MudText Typo="Typo.h1">@article.Name</MudText>
		<MudStack Row="true" Justify="Justify.SpaceBetween">
			<MudText>
				<MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Size="Size.Small"/>
				@article.Created.ToString("dd MMMM yyyy")
			</MudText>
			<MudHidden Breakpoint="Breakpoint.Xs">
				<MudStack Row="true">
					<ShareButtons Url="@url"/>
				</MudStack>
			</MudHidden>
			<MudText Align="Align.End">
				<MudIcon Icon="@Icons.Material.Filled.Tag" Size="Size.Small"/>
				@article.CategoryName
			</MudText>
		</MudStack>
		<MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
			<MudStack Row="true" Justify="Justify.Center">
				<ShareButtons Url="@url"/>
			</MudStack>
		</MudHidden>
		<BuyMeACoffee/>
		<MudText Align="Align.Justify">
			<MudMarkdown CodeBlockTheme="CodeBlockTheme.Vs2015" Value="@article.Content" />
		</MudText>
		<BuyMeACoffee/>
	</div>
}

<Ads Slot="1656353485"/>

@if (suggestions?.Any() ?? false)
{
	<MudText Typo="Typo.h2">Related:</MudText>

	<MudGrid>
		@foreach (var suggestion in suggestions)
		{
			var url = urlCreator.Encode("articles", suggestion.Name);
			<MudItem sm="6">
				<MudCard Style="height: 100%">
					@if (!string.IsNullOrWhiteSpace(suggestion.Image))
					{
						<MudCardMedia Image="@suggestion.Image"
						              Style="background-size: contain"/>
					}
					<MudCardContent>
						<MudText Typo="Typo.h3">@suggestion.Name</MudText>
						<MudText>@suggestion.Description</MudText>
					</MudCardContent>
					<MudCardActions>
						<MudLink Href="@url">Read full article</MudLink>
					</MudCardActions>
				</MudCard>
			</MudItem>
		}
	</MudGrid>
}

@if (article is not null)
{
	<MudPaper Class="mt-4">
		<Giscus Repo="VladislavAntonyuk/vladislavantonyuk.github.io"
		        RepoId="R_kgDOImU4iA"
                Category="Announcements"
		        CategoryId="DIC_kwDOImU4iM4CYqI2"
		        Mapping="Mapping.Title"
		        ReactionsEnabled="true"
		        EmitMetadata="false"
		        InputPosition="InputPosition.Top"
		        Theme="preferred_color_scheme"
		        Lang="en"
		        Loading="Loading.Lazy" />
	</MudPaper>
}