@page "/events/{eventName}"
@using VladislavAntonyuk.Components.Monetization
@inherits VladislavAntonyukBaseComponent

@if (@event is null)
{
	<Head Title="Vladislav Antonyuk - Events" Description="Vladislav Antonyuk - Events" />
	<MudStack AlignItems="AlignItems.Center" Class="pa-6">
		<MudProgressCircular Indeterminate="true" Color="Color.Primary" />
		<MudText Typo="Typo.subtitle1" Class="mt-2">Loading event...</MudText>
	</MudStack>
}
else
{
	var url = urlCreator.Encode("events", @event.Name);
	var title = $"Vladislav Antonyuk - {@event.Name}";
	var description = $"Vladislav Antonyuk - {@event.Description}";

	<Head Title="@title" Description="@description" />

	<div class="article">
		@if (!string.IsNullOrWhiteSpace(@event.Image))
		{
			<MudImage Src="@(@event.Image)" Alt="@(@event.Name)" Fluid="true" />
		}

		<MudText Typo="Typo.h1" Align="Align.Center">@(@event.Name)</MudText>

		@if (!string.IsNullOrEmpty(@event.Location))
		{
			var mapUrl = $"https://www.google.com/maps?q={Uri.EscapeDataString(@event.Location)}";
			<MudText Typo="Typo.body1" Align="Align.Center">
				<MudChip
					T="string"
					Href="@mapUrl"
					Target="_blank"
					Text="@(@event.Location)"
					Color="Color.Primary"/>
			</MudText>
		}

		@if (@event.Date is not null)
		{
			<MudText Typo="Typo.body1" Align="Align.Center">
				<MudChip T="string"
				         Text="@(@event.Date.ToString())"
				         Color="Color.Secondary"/>
			</MudText>
		}

		@{
			var price = $"Price: {@event.Price}";
		}
		<MudText Typo="Typo.body1" Align="Align.Center">
			<MudChip T="string" Text="@price" Color="Color.Info" />
		</MudText>

		<MudStack Row="true" Justify="Justify.Center">
			<ShareButtons Url="@url" />
		</MudStack>

		<MudText Align="Align.Justify">
			<MudMarkdown Value="@(@event.Description.ReplaceLineEndings())" />
		</MudText>
	</div>
}

<Ads Slot="1656353485" />