@page "/events/{eventName}"
@using VladislavAntonyuk.Components.Monetization
@inherits VladislavAntonyukBaseComponent

@if (@event is null)
{
	<Head Title="Vladislav Antonyuk - Events" Description="Vladislav Antonyuk - Events" />
}
else
{
	var url = urlCreator.Encode("events", @event.Name);
	var title = $"Vladislav Antonyuk - {@event.Name}";
	var description = $"Vladislav Antonyuk - {@event.Description}";

	<Head Title="@title" Description="@description" />

	<div class="article">
		@if (!string.IsNullOrWhiteSpace(@event.Image))
		{
			<MudImage Src="@(@event.Image)" Alt="@(@event.Name)" Fluid="true" />
		}

		<MudText Typo="Typo.h1" Align="Align.Center">@(@event.Name)</MudText>

		@if (!string.IsNullOrEmpty(@event.Location))
		{
			<MudText Typo="Typo.body1" Align="Align.Center">@(@event.Location)</MudText>
		}

		@if (@event.Date is not null)
		{
			<MudText Typo="Typo.body1" Align="Align.Center">@(@event.Date)</MudText>
		}

		<MudText Typo="Typo.body1" Align="Align.Center">Price: @(@event.Price)</MudText>
		
		<MudStack Row="true" Justify="Justify.Center">
			<ShareButtons Url="@url" />
		</MudStack>

		<MudText Align="Align.Justify">
			<MudMarkdown Value="@(@event.Description?.ReplaceLineEndings())" />
		</MudText>
	</div>
}

<Ads Slot="1656353485" />